<div class="card mx-auto" style="max-width: 500px;">
  <div class="card-body">
    <h5 class="card-title">Editar Sala {{editarSalaForm.get('sala')?.value}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Datos de la sala</h6>

    <form [formGroup]="editarSalaForm" (ngSubmit)="editarSala (editarSalaForm.value)">

      <!--    Campo id de curso      -->
      <div class="row">
        <label for="id"> id </label>
        <input id="id"
               type="text"
               name="id"
               formControlName="id"
               class="form-control"
               readonly
        >



        <div class="row">
          <label for="nombre"> Nombre de la sala </label>
          <input id="nombre"
                 type="text"
                 name="nombre"
                 placeholder="escriba el nombre de la sala aqui"
                 formControlName="nombre"
                 class="form-control"
          >


        </div>

        <!-- Campo programa del curso -->
        <label for="programa">Programa</label>
        <input id="programa"
               type="text"
               name="programa"
               placeholder="Ingrese el programa al que pertenece"
               formControlName="programa"
               class="form-control"
        >



      </div>
      <br>

      <div class="row justify-content-center mt-3">
        <div class="col-6">
          <button type="submit" class="btn btn-primary btn-block">Editar sala</button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-danger btn-block" (click)="cancelarEditarSala()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
